<section class="container-fluid green-bg">
  <div class="row">
    <h2 class="col-xs-12">
      New music lessons start soon!</small>
    </h2>
    <a href="students.html" class="call-to-action gold" title="Learn about our free music lessons">Click here to learn more</a>
  </div>
</section>