<section class="container-fluid green-bg">
  <div class="row">
    <h2 class="col-xs-12">
      We are now accepting rental applications<br><small>For our beautiful new hall</small>
    </h2>
    <a href="hall.html" class="call-to-action gold" title="Learn about our hall and rental rates">Click here to learn about our hall</a>
  </div>
</section>