extends layout
block content
    h3 Community Events
    div
        h4 Our Event List
        p
            | Our list changes regularly, so check back again soon.
            | Performance dates are being arranged for 2014 and will each be announced as they are signed and confirmed.
            | For information regarding performances or arraging an event with us,
            | see our <a href="contact.html">contact</a> page.
            | Return to our home page for fundraiser dates and other news.
        div.item-separator
        iframe(src="https://calendar.google.com/calendar/embed?showCalendars=0&showTitle=0&showTz=0&height=600&wkst=1&bgcolor=%23ffffff&src=faasl.org_13dt8l4l6cc6s7fea0nq9lg2og%40group.calendar.google.com&color=%235229A3&src=faasl.org_an3en78k4a54qotghed951bdfg%40group.calendar.google.com&color=%231B887A&src=faasl.org_92pmmquc4hv1bku5n9qq67gf0g%40group.calendar.google.com&color=%23A32929&ctz=America%2FLos_Angeles" style="border-width:0" width="400" height="400" frameborder="0" scrolling="no")
        div.item-separator
    div
        h4 Scheduled dates
        div.table-responsive
            table.table.table-striped.table-bordered
                thead
                    tr
                        th Date
                        th Event
                        th Location
                        th Time
                tbody
                    each event, i in events
                        - mmt = moment(event.time)
                        tr
                            td!= mmt.format('MMMM D')
                            td!= event.description
                            td!= _.compact([event.street, event.city]).join(', ')
                            td!= (mmt.hour() === 0 && mmt.minute() === 0) ? 'TBD' : mmt.format("h:mm a")
