extends layout
block content
    each item, i in homeItems
        div
            h2!= typogr(item.title).typogrify()
            != typogr(item.html).chain().smartypants().widont().ord().value()
            - if (i < homeItems.length - 1)
                div.item-separator
