include mixins
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='google-site-verification', content='JiOLgEet9r9WnJ7TP-FXGKDxFbTVId9HwD3omN8r0mI')
        title= locals.title

        //link(rel='stylesheet', href='https://rawgithub.com/ekalinin/typogr.js/master/example/style.css', type='text/css', media='screen')
        link(rel='icon', href='/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='css/print.css', type='text/css', media='print')
        link(rel='stylesheet', href='css/screen.css', type='text/css', media='screen, projection')

        script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-6265635-2']);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

    body
        div#bg_A
            div#bg_B
                div#bg_C
                    +Header()
                //end #bg_C
                div#bg_D
                    +NavBar()
                    div#body.container
                        div#left_col
                            +SketchA()
                            +PostIt(env.helpers.events.upcomingPerformanceList())
                            +SketchB()
                        //end #left_col
                        div#content
                            block content
                        //end #content
                        div#right_col
                            +PostIt(env.helpers.events.fundraiserNote(env.helpers.events.getFundraisers(true)[0]))
                            +PostIt(env.helpers.events.fundraiserNote(env.helpers.events.getFundraisers(true)[1]))
                        //end #right_col
                    //end #body
                    div#footer.container
                        div.wrapper
                            +FooterLinks()
                            +Legal()
                    //end #footer
                //end #bg_D
            //end #bg_B
        //end #bg_A
