<section class="container-fluid green-bg">
  <div class="row">
    <h2 class="col-xs-12">
      Special info regarding our operations<br><small>during the COVID-19 pandemic</small>
    </h2>
    <p class="col-xs-12">
      We are piloting a special remote learning program for people who have past musical experience and want to relearn their instrument and return to performing music.
    </p>
    <a href="remote.html" class="call-to-action gold" title="Learn how you can remotely learn to play music">Learn about our Remote Restart program</a>
  </div>
</section>