    <!--  START footer#page-footer  -->
    <footer id="page-footer" class="container-fluid">
      <div class="row">
        <!--  START .social-links  -->
        <p class="col-xs-12 text-center social-links">
          <a class="btn btn-social-icon btn-facebook" href="http://facebook.faasl.org" target="_blank" title="Our Facebook page">
            <span class="fa fa-facebook"></span>
          </a>
          <a class="btn btn-social-icon btn-instagram" href="http://instagram.faasl.org" target="_blank" title="Our Instagram stream">
            <span class="fa fa-instagram"></span>
          </a>
          <a class="btn btn-social-icon btn-twitter" href="http://twitter.faasl.org" target="_blank" title="Our Twitter stream">
            <span class="fa fa-twitter"></span>
          </a>
          <a class="btn btn-social-icon btn-youtube" href="http://youtube.faasl.org" target="_blank" title="Our YouTube channel">
            <span class="fa fa-youtube"></span>
          </a>
          <!--a class="btn btn-social-icon btn-soundcloud" href="http://soundcloud.faasl.org" target="_blank">
            <span class="fa fa-soundcloud"></span>
          </a-->
          <a class="btn btn-social-icon btn-linkedin" href="http://linkedin.faasl.org" target="_blank" title="Our LinkedIn page">
            <span class="fa fa-linkedin"></span>
          </a>
        </p>
        <!--  END .social-links  -->
        <a class="subdomain" href="http://stories.faasl.org" title="Individual stories from our members" target="_parent">stories.faasl.org</a>
        <a class="subdomain" href="http://brochure.faasl.org" title="Our current brochure in PDF format" target="_parent">brochure.faasl.org</a>
        <a class="subdomain" href="http://events.faasl.org" title="A calendar of public events attended or hosted by the FAASL" target="_parent">events.faasl.org</a>
        <a class="subdomain" href="http://newsletter.faasl.org" title="Our newsletter archive" target="_parent">newsletter.faasl.org</a>
        <a class="subdomain" href="http://subscribe.faasl.org" title="A form to subscribe to our newsletter" target="_parent">subscribe.faasl.org</a>
        <a class="subdomain" href="http://log.faasl.org" title="Form to log individual hours volunteered with the FAASL" target="_parent">log.faasl.org</a>
<!--        <a class="subdomain" href="http://calendar.faasl.org" title="Google Calendars link for current FAASL volunteers" target="_parent">calendar.faasl.org</a>-->
        <a class="subdomain" href="http://facebook.faasl.org" title="Our official Facebook page" target="_parent">facebook.faasl.org</a>
        <a class="subdomain" href="http://instagram.faasl.org" title="Our official instagram account" target="_parent">instagram.faasl.org</a>
        <a class="subdomain" href="http://twitter.faasl.org" title="Our official Twitter account" target="_parent">twitter.faasl.org</a>
<!--        <a class="subdomain" href="http://survey.faasl.org" title="Our most recent membership survey" target="_parent">survey.faasl.org</a>-->
<!--        <a class="subdomain" href="http://drive.faasl.org" title="Google Drive link for current FAASL volunteers" target="_parent">drive.faasl.org</a>-->
<!--        <a class="subdomain" href="http://mail.faasl.org" title="Gmail link for current FAASL volunteers" target="_parent">mail.faasl.org</a>-->
<!--        <a class="subdomain" href="http://uniform.faasl.org" title="Uniform specifications and ordering" target="_parent">uniform.faasl.org</a>-->
<!--        <a class="subdomain" href="http://help.faasl.org" title="Ways you can help our organization today" target="_parent">help.faasl.org</a>-->
        <a class="subdomain" href="http://volunteer.faasl.org" title="Resource page for our volunteers" target="_parent">volunteer.faasl.org</a>
        <a class="subdomain" href="http://students.faasl.org" title="Resource page for our students" target="_parent">students.faasl.org</a>
        <a class="subdomain" href="http://contact.faasl.org" title="Our location and contact information, including a contact form" target="_parent">contact.faasl.org</a>
        <a class="subdomain" href="http://covid.faasl.org" title="Our current policy for Covid-19 safety protocols" target="_parent">covid.faasl.org</a>
        <a class="subdomain" href="http://enter.faasl.org" title="Our Covid screening entry form" target="_parent">enter.faasl.org</a>
        <div class="clearfix"></div>
        <p id="copyright" class="col-xs-12 col-md-6 text-center">
          <!-- build:template
          © 2007-<%= year %> Filarmonica Artista Amadora de San Leandro.<br>All rights reserved.
          /build -->
        </p>
        <p id="non-profit-statement" class="col-xs-12 col-md-6 text-center">
          The Filarmonica Artista Amadora de San Leandro is a<br>
          <a href="http://www.irs.gov/app/pub-78/searchFromResults.do?nameSearchTypeStarts=false&amp;names=Filarmonica+Artista+Amadora+de+San+Leandro&amp;nameSearchTypeAll=true&amp;city=San+Leandro&amp;state=CA&amp;country=USA&amp;deductibility=all&amp;dispatchMethod=search&amp;searched.nameSearchTypeStarts=false&amp;searched.names=Filarmonica+Artista+Amadora+de+San+Leandro&amp;searched.nameSearchTypeAll=false&amp;searched.city=San+Leandro&amp;searched.state=CA&amp;searched.country=USA&amp;searched.deductibility=all&amp;searched.sortColumn=name&amp;searched.indexOfFirstRow=0&amp;searched.isDescending=false&amp;submitName=Search" title="501(c)(3) non-profit" target="_blank">501(c)(3) non-profit</a> organization.
        </p>
      </div>
    </footer>
    <!--  END footer#page-footer  -->
